{
    "client_id": "SNOW_INTEGRATION_CLIENT_ID",
    "client_secret": "SNOW_INTEGRATION_CLIENT_SECRET",
    "refresh_token": "SNOW_INTEGRATION_REFRESH_TOKEN",
    "access_token": "SNOW_INTEGRATION_ACCESS_TOKEN"
}